/* Basic styling */
/* Draw the lines */
.jOrgChart .line {
    height                : 30px;
    width                 : 3px;
}

.jOrgChart .down {
    background-color 		: black;
    margin 				: -10px auto 0 auto;
}

.jOrgChart .top {
    border-top          : 3px solid black;
}

.jOrgChart .left {
    border-right          : 3px solid black;
}

.jOrgChart .right {
    border-left           : 3px solid black;
}

/* node cell */
.jOrgChart td {
    text-align            : center;
    vertical-align        : top;
    padding               : 0;
}

/* The node */
.jOrgChart .node {
    background-color 	  : #35363B;
    display               : inline-block;
    width                 : 200px;
    height                : 150px;
    z-index 			  : 10;
    margin                : 0 2px;
    overflow              : scroll;
}

/* jQuery drag 'n drop */

.drag-active {
    border-style			: dotted !important;
}

.drop-hover {
    border-style			: solid !important;
    border-color 			: #E05E00 !important;
}


/* list stuff */
#org{
    background-color 	: white;
    margin 				: 10px;
    padding 			: 10px;
}

#show-list{
    cursor 				: pointer;
}

/* bootstrap overrides */
.alert-message{
    margin: 2px 0;
}

.topbar{
    position 			: absolute;
}

/* Custom chart styling */
.jOrgChart {
    margin                : 10px;
    padding               : 20px;
}

/* Custom node styling */
.jOrgChart .node {
    font-size 			: 14px;
    background-color 	: #A8C62C;
    color 				: #F38630;
    border              : 1px solid rgba(0, 0, 0, .125);
}

.node p{
    font-family 	: tahoma;
    font-size 		: 10px;
    line-height 	: 11px;
    padding 		: 2px;
}

.organTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 10px;
}