/* ---------------------------------------------------
   SIDEBAR STYLE
----------------------------------------------------- */
li a {
    color: #475255;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#fixedSidebar {
    overflow: hidden;
    position: fixed;
    width: inherit;
    min-width: inherit;
    max-width: inherit;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #f4f2f2;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
    width: 50px;
    height: 50px;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
}

#sidebar.active ul li span {
    display: none;
}

#sidebar.active ul form li input {
    display: none;
}

#sidebar.active ul form li {
    margin-left: 0 !important;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #f4f2f2;
}

#sidebar .sidebar-header strong {
    display: none;
}

#sidebar ul.components {
    padding: 0 0 20px 0;
}

#sidebar ul li a {
    padding: 10px;
    display: block;
}

#sidebar ul li a:hover {
    color: #475255;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #fff;
    background: #0B676E;
    font-weight: 600;
}

a[data-toggle="collapse"] {
    position: relative;
}

/*
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
*/

ul ul a {
    padding-left: 30px !important;
    background: #f4f2f2;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #475255;
}

a.article,
a.article:hover {
    background: #f4f2f2 !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 0 20px 0 50px;
    min-height: 100vh;
    transition: all 0.3s;
    overflow: scroll;
    margin-left: -50px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }

    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }

    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
    }

    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
    }

    #sidebar {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }
}

/**
 * Collapse Button Styling
 */
#sidebarCollapse {
    height: 100px;
    margin-left: -1px;
    background-color: #648C95;
    color: white;
    padding: .5rem;
}

.outerCollapseButton {
    position: relative;
    min-width: 50px;
    width: 50px;
    max-width: 50px;
}

.innerCollapseButton {
    position: fixed;
    top: calc(50% - 50px);
}
