/* ####################################### */
/* ############### GENERAL ############### */
small {
  display: inline-block;
}

/* ####################################### */
/* ############# PROCESSES ############### */
#remove-area {
  padding-top: 92px;
}

#remove-area .remove-button {
  min-height: 40px;
  border: 1px solid #0B676E;
  background-color: #0B676E;
  cursor: pointer;
}

#remove-area .remove-button i {
  color: #fff;
}

#remove-area .remove-button:hover,
#remove-area .remove-button:focus {
  background-color: #dc3545;
  border: 1px solid #dc3545;
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
}

.scrolling-wrapper .legend.art {
  background-color: #0B676E;
  color: #fff;
  justify-content: center;
}

.legend .organ button {
  width: 46px;
}

.scrolling-wrapper .art {
  flex: 0 0 auto;
  min-width: 300px;
  background: #eee;
  margin-right: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 40px;
}

.scrolling-wrapper .task_number {
  min-width: 80px;
  width: 80px;
}


/* ########### INPUT ############ */

.scrolling-wrapper .legend.input,
.scrolling-wrapper .input {
  min-width: 100px;
}

/* ########### INPUT SOURCE ############ */

.scrolling-wrapper .legend.input_source,
.scrolling-wrapper .input_source {
  min-width: 120px;
}

.scrolling-wrapper .category {
  min-width: 120px;
  width: 120px;
}

.scrolling-wrapper .task_name {
  min-width: 400px;
  width: 400px;
}

.scrolling-wrapper .output {
  min-width: 300px;
}

.scrolling-wrapper .output_target {
  min-width: 300px;
}

.scrolling-wrapper .risk {
  min-width: 100px;
  width: 100px;
}

.scrolling-wrapper .status {
  min-width: 80px;
  width: 80px;
}

.scrolling-wrapper .required_knowledge {
  min-width: 300px;
}

/* ######### Roles ########## */ 

.scrolling-wrapper .roles {
  min-width: 10px;
}

.roles .organ {
  border-right: 2px solid #fff;
}

.roles .user {
  border-right: 2px solid #fff;
  width: 38px;
}

.roles .select-user {
  width: 46.8px;
  height: 100%;
  border-right: 2px solid #000;
}

.roles .select-user:last-of-type,
.roles .user:last-of-type,
.roles .organ:last-of-type  {
  border-right: none;
}

.processes-show .responsible {
  background-color: #0B676E;
}

.processes-show .concerned {
  background-color: #a2c62c;
}

.processes-show .contributing {
  background-color: #648c95;
}

.processes-show .information {
  background-color: #475255;
}

/* ########################## */

.scrolling-wrapper .iso_value {
  min-width: 100px;
  width: 100px;
}

/* ############################################# */
/* ############# PROCESSES: SHOW ############### */

.processes-show .task_no {
  min-height: 40px;
  border: 1px solid #0B676E;
  background-color: #0B676E;
}









/* ################################### */
/* ############# FONTS ############### */

@font-face {
  font-family: "Source Sans Pro";
  src: url('../fonts/SourceSansPro-Regular.ttf');
  font-weight: normal;
} 

@font-face {
  font-family: "Source Sans Pro";
  src: url('../fonts/SourceSansPro-Bold.ttf');
  font-weight: bold;
} 

@font-face {
  font-family: "Source Sans Pro";
  src: url('../fonts/SourceSansPro-Black.ttf');
  font-weight: 900;
} 

* {
  font-family: 'Source Sans Pro', 'sans-serif';
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Source Sans Pro";
  font-weight: bold;
}

/* ################################### */
/* ############ COLORS ############## */

.color-lightgreen {
  color: #a2c62c;
}

.color-darkgreen {
  color: #0B676E;
}

.bg-pe-lightgreen {
  background-color: #a2c62c;
}

.bg-pe-darkgreen {
  background-color: #0B676E;
}

/* ################################### */
/* ############ GENERAL ############## */

#logo {
  width: 180px;
}

.card, .btn, .alert, .badge, .list-group-item:first-child , .list-group-item:last-child, .form-control, .nav-pills .nav-link {
  border-radius: 0;
}

.directory:hover,
.archive:hover,
.previous-archive {
  cursor: pointer;
}

.card-header a {
  color: white !important;
  text-decoration: underline;
}
/******* BUTTONS ********/

.btn-pe-darkgreen {
  color: #fff;
  background-color: #0B676E;
  border-color: #0B676E;
}

.btn-pe-darkgreen:hover {
  color: #fff;
  background-color: #648c95;
  border-color: #648c95;
}

.btn-pe-lightgreen {
  color: #fff;
  background-color: #a2c62c;
  border-color: #a2c62c;
}

.btn-pe-lightgreen:hover {
  color: #fff;
  background-color: #d3df86;
  border-color: #d3df86;
}

/* ###################################### */
/* ############ NAVIGATION ############## */

.sidebar {
  background-color: #f4f2f2;
}

.sidebar .navbar-brand {
  padding: 10px 0 10px 20px;
  margin-bottom: 10px
}

.sidebar #logo{
  width: 154px;
}

.sidebar .nav-item {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.sidebar .nav-link {
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #475255;
}

.sidebar .nav-link.active {
  font-weight: 600;
  background-color: #0B676E;
  color: white;
}

.sidebar .nav-link:not(#globalSearchbar):hover {
  background-color: #0B676E;
  color: white;
}

.sidebar .nav-link i {
  width: 22px;
}


/* Front Page Navigation (Unregistered Users) */

.navbar .nav-link {
  color: #7B8488;
}

.navbar .nav-link:hover,
.navbar .nav-link:active,
.navbar .nav-link:focus {
  color: #7B8488;
}

/* Pills - Task: Index/Archived/All */

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #a2c62c;
}

a {
  color: #0B676E;
}


/* ########################### */
/* ########## TAGS ########### */

#tags_modal .tags-input {
  flex-flow: wrap;
  display: inline-flex;
}

#tags_modal .mainInput {
  flex-grow: 3;
}

.tags-input {
  border: 1px solid #ced4da;
  display: inline-block;
  padding: .375rem .75rem;
}

.tags-input .tag {
  padding: 0.5em 0.75em;
  margin: 0.25em 0.1em;
  display: inline-block;
  background-color: #ddd;
  cursor: pointer;
}

.tags-input .tag:hover{
  background-color: #a2c62c;
  color: white;
}

.tags-input .tag .close{
  vertical-align: middle;
  font-size: 16px;
  margin-left: 6px;
}

.tags-input .tag .close:hover{
  color: red;
}

.tags-input .mainInput {
  border: 0;
  outline: 0;
  padding: 0.25em;
}




/* ################################# */
/* ########## TASKS: ADD ########### */

.close-btn {
  cursor: pointer;
}

.btn-back {
  position: absolute;
  right: 0;
  top: 34px;
}
.btn-back a {
  background: #0B676E;
  border-radius: 4px;
}

#set_reminders {
  padding: .375rem .75rem;
}

#set_reminders.is-invalid {
  border: 1px solid #dc3545;
  border-radius: .25rem;
}

#set_reminders .invalid-feedback {
  display: inline;
}

/* ################################## */
/* ########## TASKS: SHOW ########### */

.showTask .remove-user {
  cursor: pointer;
}

.showTask .answer .remind-date.invalid {
  border: 1px solid #dc3545;
}


.showTask .answer .coworkers-btn.invalid {
  background-color: #dc3545;
}
.showTask .answer .coworkers-error,
.showTask .answer .msg-error,
.showTask .answer .yesno-error,
.showTask .answer .remind-error,
.showTask .answer .coworkers-error {
  color: #dc3545;
}



.showTask .answer .message.invalid{
  border-color: #dc3545;
}
.showTask .answer .msg-error {
  color: #dc3545;
}

/* ############################################ */
/* ############ ORGANS: ADD SUB ############### */

.remove_organ:hover {
  cursor: pointer;
  color: #dc3545;
}

/* ############################################### */
/* ############ ORGANS: ORGANIGRAM ############### */

#organigram {
  overflow: scroll;
}

#inner {
  width: fit-content;
}

#organigram .staff-column {
  margin: 0 20px;
}

#organigram .staff-column.filled {
  position: relative;
}

#organigram .staff-column.filled .staff-function:nth-child(3) {
  margin-top: 40px;
}

#organigram .staff-column.filled .horizontal { 
  position: absolute;
  top: 50%;
  left: 50%;
}

#organigram .staff-column.filled .horizontal.right { 
  position: absolute;
  top: 50%;
  right: 50%;
  left: unset;
}

#organigram .horizontal.right.single {  
  right: 0;
  position: absolute;
}

#organigram .horizontal.left.single {  
  left: 0;
  position: absolute;
}

#organigram .connector { 
  position: absolute;
  top: -25px;
  height: 50px;
  width: 5px;
  background-color: #000;
}

#organigram .connector.single{ 
  top: 42%;
  left: 50%;
}

#organigram .horizontal.right .connector { 
  right: 0;
}

#organigram .staff-function {
  position: relative;
  z-index: 20;
}

/* #### LEVEL 2 #### */

#organigram #level-2 {
  margin-top: 33px;
}

#organigram #level-3 {
  margin-top: 40px;
}

#organigram .line {
  position: absolute;
  top: -1px;
  left: 50%;
  width: 5px;
  height: 33px;
  transform: translateY(-100%);
  background-color: black;
}

#organigram .sub-line {
  height: 24px;
}

#organigram .middle {
  top: 0;
  height: 31px;
}

#organigram .horizontal {
  height: 5px;
  width: 10px;
  background-color: #000;
}


/* ################################### */
/* ############ LISTINGS ############# */

.listings .row {
  height: 100vh;
}

.listings .expand-sub {
  width: 50px;
  cursor: pointer;
}

.listings .expand-sub:hover,
.listings .expand-sub:focus {
  background-color: #a2c62c;
  color: #fff;
}

.listings .sub-link {
  padding-left: 40px;
}

.listings .sub-link.active {
  background-color: #a2c62c;
}

.mainAreaFileNotFoundHint {
  position: relative;
  height: 100%;
}

.mainAreaFileNotFoundHint__content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  text-align: center;
}

/* #################################### */
/* ############ DASHBOARD ############# */

.dashboard .remove-task:hover {
  cursor: pointer;
  color: red;
}

/* #################################### */
/* ############# FOLDERS ############## */

.folders .process {
  cursor: pointer;
}

.flexCenterContainer {
  display: flex;
  align-items: center;
  align-self: center;
}

/* ######################################## */
/* ############ MEDIA QUERIES ############# */

@media (min-width: 992px) {



  /* ########### NAVIGATION ############ */

  .navbar-expand-lg .navbar-nav .nav-item{
    padding-right: .5rem;
    padding-left: .5rem;
  }

  .navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 0;
    padding-left: 0;
  }

} /* end of min-width: 992px */

.collapsePadding {
  padding: 20px;
}

.globalSearchbar {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid #0B676E;
  width: 100%;
}

/* Risk background colors */
.riskShowBox--outer {
  display: inline-block;
}

.riskShowBox {
  height: 10px;
  width: 10px;
  display: inline-block;
}

.risk-Keins {

}

.risk-Gering {
  background-color: lightskyblue !important;
  color: white !important;
}

.risk-Gering a {
  color: white !important;
  text-decoration: underline;
}

.risk-Mittel {
  background-color: orange !important;
  color: white !important;
}

.risk-Mittel a {
  color: white !important;
  text-decoration: underline;
}

.risk-Hoch {
  background-color: red !important;
  color: white !important;
}

.risk-Hoch a {
  color: white !important;
  text-decoration: underline;
}

#globalSearchForm {
  cursor: pointer;
}

.topicsCollapseButton {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/**
 * Overwrite bootstrap styling
 */
.container-fluid {
  padding: 0 !important;
}